@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Ubuntu.woff2) format('woff2');
}



body {
    font-family: "Ubuntu", Arial, sans-serif;
    line-height: 1.42em;
    color: #BEBEBE;
    background-color: #1F2739;
    margin: 0;
}


.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
}
.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #BEBEBE !important;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
@-webkit-keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
@keyframes sk-cubeGridScaleDelay {
    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }
    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}
.initialWrapper.disappear .sk-cube-grid {
    transition: 500ms;
    opacity: 0;
}
.initialWrapper.disappear .sk-cube {
    transition: 500ms;
    opacity: 0;
}
.initialWrapper.disappear {
    transition: 500ms;
    opacity: 0;
}
.initialWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #1F2739;
    z-index: 500;
}

.initial {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	margin: 0 !important;
}

.initial p {
	position: absolute;
	width: 200px;
	transform: translateY(-100%) translateX(-50%);
	top: -5px;
	left: 50%;
	margin: 0;
	text-align: center;
}
.initial p a {
	transition: 250ms;
	color: #185875;
	text-decoration: none;
}
.initial p a:hover {
	color: #5970a6;
}

.error {
	color: #C32D2B;
}
.error .sk-cube {
	background-color: #C32D2B !important;
}
.warning {
	color: #EEC33F;
}
.warning .sk-cube {
	background-color: #EEC33F !important;
}
.error_msg {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1F2739;
}





.head {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: #5970a6;
    border-radius: 50%;
    position: absolute;
    transform-origin: top left;
    transform: scale(0.3) translateX(-50%);
    left: 50%;
	top: 50%;
}

.face {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    width: 250px;
    height: 250px;
    position: relative;
}

.face__sad {
    animation: sad-look 5s infinite;
}

.face__sad .eye-left {
    width: 25px;
    height: 25px;
    background-color: #1F2739;
    border-radius: 50%;
    top: 150px;
    left: 45px;
    position: absolute;
    animation: blink 5s infinite;
    animation-delay: 3.7s;
}

.face__sad .eye-right {
    width: 25px;
    height: 25px;
    background-color: #1F2739;
    border-radius: 50%;
    top: 150px;
    right: 45px;
    position: absolute;
    animation: blink 5s infinite;
    animation-delay: 3.7s;
}

.face__sad .mouth {
    width: 100px;
    height: 50px;
    border-style: solid;
    border-radius: 50%;
    border-width: 8px;
    border-color: #1F2739 transparent transparent transparent;
    left: 68px;
    top: 186px;
    position: absolute;
    animation: sad-mouth 5s infinite;
}

@keyframes blink {
    0% {
        transform: scale(1, 1);
    }
    10% {
        transform: scale(1, 1);
    }
    12% {
        transform: scale(1, .1);
    }
    14% {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(1, 1);
    }
    32% {
        transform: scale(1, .1);
    }
    34% {
        transform: scale(1, 1);
    }
    60% {
        transform: scale(1, 1);
    }
    62% {
        transform: scale(1, .1);
    }
    64% {
        transform: scale(1, 1);
    }
}

@keyframes sad-look {
    0% {
        transform: translate(0px, 0px);
    }
    15% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(0px, -25px);
    }
    35% {
        transform: translate(0px, -25px);
    }
    45% {
        transform: translate(0px, 0px);
    }
    70% {
        transform: translate(0px, 0px);
    }
    80% {
        transform: translate(-15px, -25px);
    }
    90% {
        transform: translate(-15px, -25px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

@keyframes sad-mouth {
    0% {
        height: 25px;
    }
    15% {
        height: 25px;
    }
    25% {
        height: 50px;
    }
    35% {
        height: 50px;
    }
    45% {
        height: 25px;
    }
    70% {
        height: 25px;
    }
    80% {
        height: 50px;
    }
    90% {
        height: 50px;
    }
    100% {
        height: 25px;
    }
}




.close {
    display: inline-block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
}

.close:hover::before,
.close:hover::after {
    background: #5970a6;
}

.close::before,
.close::after {
    content: '';
    transition: 250ms;
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #BEBEBE;
}

.close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close.rounded::before,
.close.rounded::after {
    border-radius: 5px;
}

.close.thick::before,
.close.thick::after {
    height: 4px;
    margin-top: -2px;
}