
h1 {
	line-height: 45px !important;
}
.chartTable {
	table-layout: fixed !important;
	tr {
		td {
			display: block !important;
			width: 100% !important;
			padding: 10px !important;
		}
	}
}
.table {
	table-layout: fixed !important;
	tr {
		display: block !important;
		font-size: 0px !important;
		td {
			font-size: 17px !important;
			&:not(:first-child) {
				box-sizing: border-box !important;
				display: inline-block !important;
				width: 33% !important;
			}
		}
		td.width_100 {
			display: block !important;
			width: 100% !important;
		}
		td.width_50 {
			box-sizing: border-box !important;
			display: inline-block !important;
			width: 50% !important;
		}
	}
	&:not(.optionsTable) {
		tr {
			td {
				&:first-child {
					display: block !important;
					width: 100% !important;
					border-top: 2px solid black !important;
					border-bottom: 1px dotted black !important;
				}
			}
		}
	}
	th {
		display: none !important;
	}
}
#realpages {
	width: 50% !important;
	vertical-align: top !important;
}
#realzones {
	width: 50% !important;
	vertical-align: top !important;
}
.optionsTable {
	tr {
		td {
			&:first-child {
				display: none !important;
			}
			&:nth-child(2) {
				display: block !important;
				width: 100% !important;
			}
			&:nth-child(3) {
				display: block !important;
				width: 100% !important;
			}
			&:nth-child(4) {
				display: none !important;
			}
		}
	}
}