body {

    #page {
        max-width: 1200px;
        margin: auto;
        padding: 10px;

        .chartTable {
            width: 100%;
            max-width: 100%;
            table-layout: fixed;

            td {
                width: 50%;
            }
			&.big {
				td {
					display: block;
					width: 100%;
				}
			}
        }
        .chartWrapper {
            position: relative;
            height: 300px;
            transition: 250ms;
        }
    }

    .alert {
        transition: 500ms;
        padding: 20px;
        background-color: #4caf50;
        color: white;
        font-family: "Ubuntu", sans-serif;
        opacity: 0;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 400;
        margin: 10px 0;
    }

    h1 {
        margin: 40px 0;
        font-size: 36px;
        
        .info {
            font-size: 12px;
            font-weight: bold;
        }
        .small_line {
            line-height: 25px;
            
            span {
                display: block;
                line-height: 15px;
                
                &:first-child {
                    margin-top: 5px;
                }
                
                .desc,
                .date {
                    display: inline-block;
                }
                
                .desc {
                    width: 80px;
                }
                .date {
                    width: 130px;
                }
            }
        }
    }

    h2 {
        font-size: 30px
    }

    h3 {
        font-size: 24px
    }

    h4 {
        font-size: 20px
    }

    h5 {
        font-size: 18px
    }

    h6 {
        font-size: 16px
    }
    
    .chartTable {
        
        td {
            box-sizing: border-box;
        }
    }
    .table {
        width: 100%;
        text-align: left;
        overflow: hidden;
        display: table;
        padding: 0 0 20px 0;
        
        th {
            width: 25%;
            cursor: default;
            
            h1 {
                font-weight: bold;
                font-size: 1em;
                text-align: left;
                color: #185875;
                margin: 0;
            }
        }
        td {
            box-sizing: border-box;
            width: 25%;
            cursor: default;
            color: #A7A1AE;
            font-weight: normal;
            font-size: 1em;
            padding-bottom: 2%;
            padding-top: 2%;
            padding-left: 2%;
            transition-delay: 0s;
            transition-duration: 250ms;
            transition-property: all;
            transition-timing-function: line;
            
            &:first-child {
                color: #FB667A;
            }
            &:hover {
                background-color: #FFF842;
                color: #403E10;
                font-weight: bold;
                transform: scale(1.025);
            }
                
            &.pointer {
                cursor: pointer;
            }
        }
        th {
            padding-bottom: 2%;
            padding-top: 2%;
            padding-left: 2%;
            background-color: #1F2739;
        }
        tr {
            &:nth-child(odd) {
                background-color: #323C50;
            }
            &:nth-child(even) {
                background-color: #2C3446;
            }
            &:hover {
                background-color: #464A52;
                -webkit-box-shadow: 0 6px 6px -6px #0E1119;
                -moz-box-shadow: 0 6px 6px -6px #0E1119;
                box-shadow: 0 6px 6px -6px #0E1119;
            }
        }
		
		&.optionsTable {
			td {
				width: ~"calc(100% / 5)";
			}
		}
    }
}




.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    
    .sk-cube {
        width: 33%;
        height: 33%;
        background-color: rgb(230, 230, 230);
        float: left;
        -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
        animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    }

    .sk-cube1 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .sk-cube2 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .sk-cube3 {
        -webkit-animation-delay: 0.4s;
        animation-delay: 0.4s;
    }
    .sk-cube4 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .sk-cube5 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
    .sk-cube6 {
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .sk-cube7 {
        -webkit-animation-delay: 0s;
        animation-delay: 0s;
    }
    .sk-cube8 {
        -webkit-animation-delay: 0.1s;
        animation-delay: 0.1s;
    }
    .sk-cube9 {
        -webkit-animation-delay: 0.2s;
        animation-delay: 0.2s;
    }
}

@-webkit-keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

@keyframes sk-cubeGridScaleDelay {

    0%,
    70%,
    100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    }

    35% {
        -webkit-transform: scale3D(0, 0, 1);
        transform: scale3D(0, 0, 1);
    }
}

.blur .chart {
    filter: blur(8px);
}
.unblur .chart {
    transition: 1s;
    filter: none;
}
.disappear {
     .sk-cube-grid {
        transition: 500ms;
        opacity: 0;
    }
    .sk-cube {
        transition: 500ms;
        opacity: 0;
    }
}
.loaderWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}